<div class="header-wrap">
	<nav>
		<ul>
			<li><a href="/">На главную</a></li>
			<li><a href="/list_viewer">Список ссылок</a></li>
			<li><a href="/about">О сайте</a></li>
		</ul>
	</nav>
	<div class="user-tab">
		<a id="hello" href="/user/nick"> Привет, Гость</a>
	</div>
</div>

<script>
var nick = getCookie('nick');
if (nick != ""){
	var hello = document.querySelector('#hello');
	while (hello.firstChild) {
    hello.removeChild(hello.firstChild);
}
	addText(hello, 'Привет, ' + nick);
}
</script>