<div class="header-wrap">
	<nav>
		<ul>
			<li><a href="/">На главную</a></li>
			<li><a href="/list_viewer">Список ссылок</a></li>
			<li><a href="/about">О сайте</a></li>
		</ul>
	</nav>
	<div class="user-tab">
		<a href="admin/form"> Привет, Гость</a>
	</div>
</div>