<!-- views/partials/header.ejs -->
<div class="container">
	<nav class="navbar navbar-default" role="navigation">

		<div class="navbar-header">
			
			<ul class="nav navbar-nav">
				<li><a href="/">На главную</a></li>
				<li><a href="/links_list">Список ссылок</a></li>
				<li><a href="/about">О сайте</a></li>
			</ul>
		</div>

	</nav>
</div>