/* Inspired by twitter bootstrap CSS*/

body {
	font-family: arial, sans-serif;
	margin: 0;
}

main {
	padding: 0 50px 50px;
}

/* header part */
header {
	background-color: teal;
	text-align: center;
}

footer {
	text-align: center;
}

header ul {
	margin: 0;
}

header li {
	display: inline-block;
}

header a {
	padding: 15px;
	display: block;
	text-decoration: none;
	color: white;
}

header a:hover {
	background: rgba(0, 0, 0, 0.1);
}

/* list part */

.list-menu {
	text-align: center;
}

.list-menu li {
	display: inline-block;
}

.list-menu a {
	margin: 7px;
	padding: 7px;
	display: block;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 16px/8px;
	color: teal;
}

.list-menu a:hover {
	background: rgba(0, 0, 0, 0.1);
}