/* Inspired by twitter bootstrap CSS*/

body {
	font-family: arial, sans-serif;
	margin: 0;
}

main {
	padding: 50px;
}

/* header part */
header {
	background-color: teal;
	text-align: center;
	position: fixed;
	width: 100%;
	color: white;
}

.header-wrap {
	width: 100%;
	min-width: 560px;
	margin: 0 auto;
}
header nav {
	display: inline-block;
}

header ul {
	margin: 0;
}

header li {
	display: inline-block;
}

header a {
	padding: 15px;
	display: block;
	text-decoration: none;
	color: white;
}

header a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.user-tab {
	/*padding: 15px 50px 15px 0; */
	float: right;
}

footer {
	text-align: center;
}

/* list part */

.list-menu {
	text-align: center;
}

.list-menu li {
	display: inline-block;
}

.list-menu a {
	margin: 7px;
	padding: 7px;
	display: block;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 15px;
	color: teal;
}

.list-menu a:hover {
	background: rgba(0, 0, 0, 0.1);
}

.list-entry {
	border: 4px solid #008080;
	border-radius: 20px;
	margin: 8px;
	padding: 10px 20px;
	display: inline-block;
	background-color: white;
	vertical-align:top; 
}

.list-tag {
	text-decoration: none;
	color: seagreen;
}


.list-entry * {
	margin: .5em 0;
}
